body {
  background: linear-gradient(
    109.8deg,
    rgb(62, 5, 116) -5.2%,
    rgb(41, 14, 151) -5.2%,
    rgb(216, 68, 148) 103.3%
  );
}

img {
  filter: drop-shadow(0px -1px 10px rgba(247, 244, 247, 0.4));
}
.body-wrapper {
  margin: 60px auto;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.2);

  border: 10px solid rgba(229, 225, 227, 0.1);
  border-radius: 5px;
  padding: 20px;
}

.col-2 {
  box-shadow: 2px 10px 22px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.card {
  margin: 70px auto;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.2);
}

#user-search-result,
.weather-display {
  color: #c9f9fb;
  font-family: "Poppins", sans-serif;
}

.sun {
  filter: drop-shadow(0px -1px 10px rgb(242, 176, 52 0.4));
}

#city-temp {
  color: rgba(193, 188, 188, 0.639);
  font-size: 50px;
}

#wind-speed,
#humidity {
  color: rgba(193, 188, 188, 0.639);
}
